*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #1E1F22;
    z-index: -2;
    text-align: center;
    padding: 15px;
}
header img {
   
    width: 250px;
   
}

.mainTittle {
    font-size: 36px;
    text-transform: uppercase;
}

.mainSub{
    font-size: 25px;
    text-transform: uppercase;
}

a {
    margin: 0 10px;
    text-decoration: none;
}
body {
    background-image: url(/assets/img/bg.png);
    height: 100vh;
    text-align: center;
}

h1, h2, h3, p, button {
    margin: 15px;
 
}


h2 {
    color: #FFAE00;
}
button {
    background-color: #FFAE00;
}

.produto {
    display: flex;
    margin: 0 auto 20px;
    background-color: RGBA(37, 37, 37, 0.8);
    border-radius: 10px;
    width: 890px;
    text-align: justify;
}


.logo img {
    width: 400px;
    
}
.text {
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 10px;
    vertical-align: middle;
    padding-top: 20px;
}
.btn{
    width: 150px;
    background-color: rgb(255, 174, 0);
    border: 0px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.btn:hover {
    background-color: rgb(151, 105, 6);
}